{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Commerce Shipping Rates Matrix plugin for Craft CMS 3.x
 *
 * Craft Commerce Shipping Rates Matrix index.twig
 *
 * @author    Josh Smith
 * @copyright Copyright (c) 2019 Josh Smith
 * @link      https://www.batch.nz
 * @package   CraftCommerceShippingRatesMatrix
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# {% do view.registerAssetBundle("batchnz\\ccshippingratesmatrix\\assetbundles\\craftcommerceshippingratesmatrix\\CraftCommerceShippingRatesMatrixAsset") %} #}
{% do view.registerAssetBundle("batchnz\\ccshippingratesmatrix\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/batchnz/craft-commerce-shipping-rates-matrix/craft-commerce-shipping-rates-matrix/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Shipping Matrix" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('craft-commerce-shipping-rates-matrix') %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "How to use"|t('craft-commerce-shipping-rates-matrix') }}</h2>
{% endset %}