{% set crumbs = [
    { label: 'Settings'|t('app'), url: url('settings') },
    { label: 'Plugins'|t('app'), url: url('settings/plugins') }
] %}

{% set selectedSubnavItem = 'settings' %}

{% set fullPageForm = true %}

{% extends '_layouts/cp' %}
{% set title = 'Shipping Rates' %}
{% set docTitle = title ~ ' - ' ~ 'Plugins'|t('app') %}

{% import '_includes/forms' as forms %}

{% block content %}
    {{ actionInput(plugin.handle~'/shipping-rates/save-settings') }}
    {{ hiddenInput('pluginHandle', plugin.handle) }}
    {{ redirectInput(plugin.handle~'/settings') }}

    <h2>Plugin Settings</h2>
    <p>Use the fields below to update settings.</p><br>

    {{ forms.textField({
        first: true,
        label: 'Fuel Adjustment Factor',
        instructions: 'Use this setting to apply a Fuel Adjustment Factor to shipping rates.',
        type: 'number',
        name: 'settings[fuelAdjustmentFactor]',
        value: settings.fuelAdjustmentFactor,
        errors: (errors is defined ? errors['fuelAdjustmentFactor'] : null)
    }) }}
{% endblock %}